{% schema %}
  {
    "name": "New section",
    "settings": [{
      "type":"text",
      "id":"heading",
      "label":"Heading"
    }],
    "blocks":[{
      "type":"image",
      "name":"test",
      "settings":[
        
        {
        "type":"text",
        "id":"test_text",
        "label":"test Text"
      },
      {
          "type":"image_picker",
          "id":"test-image",
          "label":"Enter image"
        },
       {
      "id": "description",
      "type": "textarea",
      "label": "Description"
    }]
    }],
    "presets":[{
      "name":"testimonial"}]
  }
{% endschema %}


<style>
  .block-item{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  .images{
     border: 2px solid pink;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     padding:10px;
     width:25%;
     text-align:center;
     margin:10px;
  }
  img{
     width:100%;
  }

   @media (max-width: 768px) {
    .block-item {
        display:flex;
       margin:10px;
      
      flex-wrap:wrap;
      align-items: center;
    }
    .images{
     width:35%;
    }
  }
  @media (max-width: 500px) {
  .images{
     width:50%;
    }
  }
</style>
<div class="dynamic-blocks">
  <p>{{section.settings.heading}}</p>
</div>
<div class="block-item">
{% for block in section.blocks %}
<div class="images">
  <img src="{{block.settings.test-image | img_url:"large"}}"/>
  <p>{{ block.settings.test_text }}</p>
    <p class="description">{{ block.settings.description }}</p>
</div>
  {% endfor %}
</div>
